<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <title><%= username %></title>
  </head>
  <body>
    <div class="container-fluid">
      <h2><%= username %></h2>
    </div>
  </body>
</html>
